<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SQL_ConnStr" value="Data Source=127.0.0.1;Initial Catalog=Taiyo_Moulding;User ID=sa;Password=sa0" />
    <add key="MachineID" value="1" />
    <add key="Debug_Log" value=".\debuglog\" />
    <add key="Prod_Log" value=".\log\" />
    <add key="System" value="WH" />
    <add key="ModelCharst" value="YEFCU 00659A T2 PASDL|YEFCU 00659A T2 PASMIX" />
    <add key="Clean" value="50000" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>